/* Allign statuses by leaving room for logos before */
.status-available::before, .status-no-logo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  /* Avaliable status logo */
  .status-available::before {    
    background-color: green;
    border-radius: 50%;
  }

tbody tr:hover {
    background-color: #f8f8f8;
  }
  
tr.selected {
    background-color: #ebebeb;
  }
  