/* Allign statuses by leaving room for logos before */
.status-available::before,
.status-no-logo::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* Avaliable status logo */
.status-available::before {
    background-color: green;
    border-radius: 50%;
}

tbody tr:hover {
    background-color: #f8f8f8;
}

tr.selected {
    background-color: #ebebeb;
}

/* Pad the table */
td,
th {
    padding: 8px;
}

th {
    text-align: left;
}

.download-selected:hover {
    cursor: pointer;
}

/* Controllers above the table */
.table-controls {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #cccccc;
}

tr {
    border-bottom: 1px solid #cccccc;
}

/* Text too long to display */
td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td:hover {
    overflow: visible;
    white-space: normal;
    position: absolute;
    z-index: 1;
    max-width: none;
}